@import "./././sass/abstracts/variables-et-mixins";

.savoir-faire-etapes {
	margin-bottom: 7.6rem;
	.intro {
		@include intro;
		margin-bottom: 3.9rem;
	}

	.etape {
		align-items: center;
		display:flex;
		flex-direction: column;
		margin-bottom: 3.2rem;
	}
	.num {
		align-items: center;
		background:transparent linear-gradient(0deg, #8E00D2 0%, #04329A 100%) 0% 0% no-repeat padding-box;
		border-radius: 100px;
		color:var(--blanc);
		display: flex;
		font-size: 2rem;
		font-weight: 700;
		height:4rem;
		justify-content: center;
		line-height: 1;
		margin-bottom: 1.5rem;
		width: 4rem;
	}
	.titre {
		color:var(--rose-ec);
		font-size: 2.2rem;
		font-weight: 700;
		line-height: 2.6rem;
		margin-bottom: 5px;
	}
	.decor-traits {
		display: none;
	}
	.texte {
		color:var(--bleu-texte);
		font-size: 1.8rem;
		font-weight: 600;
		line-height: 2.2rem;
		text-align: center;
		p {margin-bottom: 0;}
		br {
			margin-bottom: 5px;
		}
	}

	@include bp(lg ) {
		
		margin-bottom: 0;
		padding-bottom: 12rem;
		padding-top: 4rem;

		.intro {
			margin-bottom: 4.4rem;
		}

		.etapes {
			column-gap: 4rem;
			display: grid;
			grid-template-columns: repeat(3,1fr);
		}
		.etape {
			margin-bottom: 0;
			position: relative;
			&::after {
				background-image: url('angle-bleu.svg');
				background-repeat: no-repeat;
				background-size: contain;
				content:' ';
				display: block;
				height:3.8rem;
				position: absolute;
				right:-3rem;
				top:6rem;
				width:2.2rem;
			}
			&:last-of-type::after {
				display: none;
			}
		}

		.num {
			margin-bottom: 2rem;
		}

		.titre {
			font-size: 3.2rem;
			line-height: 3.6rem;
			margin-bottom: 1.5rem;

		}
		.decor-traits {
			display: flex;
			margin-bottom:1.5rem
		}
		.texte {
			font-size: 2.6rem;
			line-height: 3rem;
			br {
				margin-bottom: 15px;
			}
		}
	}

	@include bp(xl) {
		.etapes {
			column-gap: 5.7rem;
		}
		.etape::after {
			right:-4rem;
		}
	}
} 