.decor-top {

	position: relative;
	&::after {
		--decor-w:11.2rem;
		--decor-h:1rem;
		background-image:url('icons/top-bloc-color_XS.svg');
		background-repeat: no-repeat;
		background-size: contain;
		content:'';
		display: block;
		height:var(--decor-h);
		left:calc(50% - 0.5 * var(--decor-w));
		position: absolute;
		top:-4px;
		width:var(--decor-w);

		@include bp(lg) {
			--decor-w:31.2rem;
			background-image:url('icons/top-bloc-color_XL.svg');
		}
	}

	&.decor-grey::after {
		background-image:url('icons/top-bloc-grey_XS.svg');
		top:-5px;
		@include bp(lg) {
			background-image:url('icons/top-bloc-grey_XL.svg');
		}
	}
}

.decor-footer {
	.rect {
		height:1rem
	}
	.rect-1 {
		background-color:var(--violet-ba);
	}
	.rect-2 {
		background-color:var(--violet-d2);
	}
	.rect-3 {
		background-color:var(--rose-ec);
	}
}

.decor-traits {
	align-items: center;
	display: flex;
	flex-direction: column;
	position:relative;
	.rect {
		height:2px;
		width:8rem;
	}
	.rect-3 {
		background-color:var(--violet-ba);
	}
	.rect-2 {
		background-color:var(--violet-d2);
	}
	.rect-1 {
		background-color:var(--rose-ec);
	}
}

.decor-hero-bottom {
	--h:5rem;
	@include decor;

	background-image: url('icons/deco-hero-bottom_380.svg');
	background-repeat: no-repeat;
	background-size: contain;
	bottom:0;
	height:var(--h);
	top:unset;
}