.pagination {
	align-items: center;
	display: flex;
	justify-content: center;
	list-style:none;
	padding:0;
	margin:5.5rem 0 3.5rem;

	a.page {
		align-items: center;
		background-color: var(--bleu-1fc);
		border:solid 1px var(--bleu-bordure);
		color:var(--noir);
		display: flex;
		font-weight: 700;
		height:3rem;
		justify-content: center;
		margin:0 0.5rem;
		text-decoration: none;
		width:3rem;
		&:hover, &:focus {
			background-color: var(--violet-ba);
			color:var(--blanc);
		}
		
	}

	li.active a {
		background-color: var(--violet-ba);
		color:var(--blanc);
	}

	li.disabled a {
		cursor: default;
		&:hover, &:focus {
			border-color:transparent;
			color:var(--bleu);
		}
	}

	@include bp(lg) {
		margin: 7.7rem 0 6rem;
		a.page {
			height:5rem;
			margin:0 1rem;
			width:5rem;
		}
	}

	
}

