
.posts-related {
	background: transparent linear-gradient(180deg, #EBF1FC 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
	padding:3.6rem var(--padding-x) 3rem;

	.titre-section {
		margin-bottom: 2.6rem;
		text-align: center;
		.term {
			color:var(--rose-ec);
			display: block;
		}
	}
	.vignette {
		display: flex;
		flex-direction: column;
		.image {
			aspect-ratio: 2.34;
			order:1;
			margin-bottom: 5px; 
		}
		&.post .ruban {
			display: none;
		}
		.titre-item {
			margin-bottom: 0;
			order:3;
		}
		.meta {
			margin-bottom: 0;
			order:2;
		}
		.extrait {
			display: none;
		}
	}

	&.pour-single {
		.meta {
			.sep, .cats {
				display: none;
				@include bp(xl) {
					display: inline;
				}
			}
		}
		
	}
	

	@include bp(lg) {
		--gap:3rem;
		padding:5.3rem var(--padding-x) 10.4rem;
		.titre-section {
			margin-bottom: 6rem;
			.term  {
				display: inline;
			}
		}
		.posts {
			column-gap: var(--gap);
			display:grid;
			grid-template-columns: repeat(3,1fr);
		}
		.vignette {
			
			.image {
				aspect-ratio: 1.4;
			}
			.titre-item {
				font-size: 2.6rem;
				line-height: 3rem;
				margin-bottom: 1.2rem;
			}
			.meta {
				margin-bottom: 1.8rem;
			}

			.extrait {
				display: block;
				order:4;
			}
		}

	}
	@include bp(xl) {
		--gap:5.4rem;
		padding-bottom: 20rem;
	}
} 