.wpml-ls-legacy-list-horizontal > ul {
	align-items: center;
	display: flex;
	justify-content: center;
}
.wpml-ls-legacy-list-horizontal .wpml-ls-item {
	align-items: center;
	display: flex;
	position: relative;
	&::before {
		color:var(--blanc);
		content:'|';
		display: inline-block;
	}
	&:first-of-type::before {
		display: none;
	}
}

.volet-navigation .wpml-ls-legacy-list-horizontal {
	margin-top: 4rem;
	a, span {
		color:var(--blanc);
	}
	
	a:hover, a:focus {
		text-decoration: none;
		span {
			color:var(--blanc);
		}
	}
}
.nav-main .wpml-ls-legacy-list-horizontal {
	margin-left: 1rem;
	& > ul {
		height: 100%;
	}
	span {
		color:var(--noir);
		font-weight: 700;
		font-size: 1.6rem;
		@include bp(xl) {
			font-size: 2rem;
		}
	}
	.wpml-ls-current-language {
		span {
			color:var(--violet-d2)
		}
	}
	
	.wpml-ls-item {
		&::before {
			color:var(--noir);
		}

	}
	a:hover, a:focus {
		text-decoration: none;
		span {
			color:var(--violet-d2);
		}
	}
}
