@import "./././sass/abstracts/variables-et-mixins";

.accueil-services {
	background-color: var(--blanc);
	padding-top: 5.5rem;
	padding-bottom: 4.6rem;

	&.decor-top::after {
		display: none;
	}
	.titre-section {
		
		margin-bottom: 3.9rem;
		text-align: center;
		span {
			color:var(--rose-e4);
		}
	}

	.service {
		align-items: center;
		display:flex;
		flex-direction: column;
		margin-bottom: 2rem;
	}
	.picto {
		align-items: center;
		background:transparent linear-gradient(0deg, #8E00D2 0%, #04329A 100%) 0% 0% no-repeat padding-box;
		border-radius: 100px;
		height:5.9rem;
		justify-content: center;
		margin-bottom: 0.9rem;
		padding:1rem;
		width: 5.9rem;
	}
	a.titre {
		color:var(--bleu-texte);
		font-size: 2.2rem;
		font-weight: 700;
		line-height: 2.6rem;
		margin-bottom: 0;
		text-decoration: none;
		&:hover, &:focus {
			color:var(--violet-d2);
		}
	}
	.texte {
		color:var(--rose-e4);
		font-size: 1.6rem;
		font-style: italic;
		line-height: 1.9rem;
		margin-bottom: 0;
		text-align: center;
		br {
			display:none;
		}
	}
	.wp-block-buttons {
		display: none;
	}

	@include bp(lg ) {
		&.decor-top::after {
			display: block;
		}
		padding-top: 7rem;
		padding-bottom: 5.3rem;

		.titre-section {
			margin-bottom: 10rem;
		}
		.services {
			display: flex;
			flex-wrap:wrap;
			justify-content: center;
		}
		.service {
			flex:0 0 30rem;
			margin-bottom: 9rem;
			position: relative;
		}
		.picto {
			height:12.3rem;
			margin-bottom: 2rem;
			width:12.3rem;
		}

		a.titre {
			font-size: 2.6rem;
			line-height: 3.6rem;
			margin-bottom: 2rem;

		}
		
		.texte {
			font-size: 1.7rem;
			line-height: 2.3rem;
			margin:0 auto;
			max-width: 22rem;
			br {
				display: block;
			}
		}

		.wp-block-buttons {
			display: flex;
			margin-bottom: 0;
			margin-top: 2rem;
		}
		a.wp-block-button__link {
			width:22rem;
		}
	}

	@include bp(xl) {
		.services {
			column-gap: 5.7rem;
		}
		.service::after {
			right:-4rem;
		}
	}
} 