@import "./././sass/abstracts/variables-et-mixins";

.carrousel {

	@include bleed;
	padding:4rem 0 5rem;

	.titre-section {
		font-size: 2.6rem;
		line-height: 2.7rem;
		margin-bottom: 2.2rem;
		padding:0 var(--padding-x);
		text-align: center;
		span {
			color:var(--violet-d2);
		}
	}
	
	.owl-item {
		height:15rem;
	}
	.logo {
		align-items: center;
		display: flex;
		height:100%;
		justify-content: center;
		padding:1rem 2rem;
		img {
			object-fit: contain;
			width:unset;
		}
	}
/*
	.owl-dots {
		display: flex;
		justify-content: center;
		margin-bottom: 4rem;
		margin-top: 2rem;
		width: 100%;
		button {
			background-color: lightgrey;
			border-radius:100%;
			height:0.9rem;
			margin-bottom: 0;
			margin-right: 0.5rem;
			min-height: unset;
			min-width: unset;
			width:0.9rem;
			&:last-of-type {
				margin-right: 0;
			}
			&.active, &:hover, &:focus {
				background-color: var(--rouge);
				opacity: 1;
			}
		}
	}*/

	@include bp(lg) {
		padding:10rem 0;
		.titre-section {
			font-size: 4.6rem;
			line-height: 5rem;
			margin-bottom: 9rem;
		}
		.owl-carousel {
			margin-bottom: 5rem;
		}
		.logo img {
			transform: scale(0.8);
		}
	}
}