@font-face{
	//font-family:"Gilroy W00 Regular";	
	font-family:"Gilroy";
	font-style: normal; 
	font-weight: 400;
	src:url("fonts/db03f9a3-d054-4656-ac72-4e3a9ea4b5f2.eot?#iefix");
	src:url("fonts/db03f9a3-d054-4656-ac72-4e3a9ea4b5f2.eot?#iefix") format("eot"),url("fonts/ae8b809e-b8bb-4e75-883c-04fb85429645.woff2") format("woff2"),url("fonts/e3a5a442-9a7c-4ebd-8bdf-f9c38bc20dc6.woff") format("woff"),url("fonts/d3565d67-9a4c-4bcc-8b1a-6343f49ad3da.ttf") format("truetype"),url("fonts/da829e55-d815-4d43-bf15-400e6e1e2d82.svg#da829e55-d815-4d43-bf15-400e6e1e2d82") format("svg");
}
@font-face{
	//font-family:"Gilroy W00 Regular Italic";
	font-family:"Gilroy";
	font-style: italic;
	font-weight: 400;
	src:url("fonts/8fe8c5da-4c7b-4576-bb9e-04b101117ce9.eot?#iefix");
	src:url("fonts/8fe8c5da-4c7b-4576-bb9e-04b101117ce9.eot?#iefix") format("eot"),url("fonts/556fd0d1-4ab7-4b58-9024-6f4ece4652d8.woff2") format("woff2"),url("fonts/03143cb7-dcdd-4548-9842-eb8e9a43aa72.woff") format("woff"),url("fonts/026e440e-21f7-4a91-a6ae-6540425c100d.ttf") format("truetype"),url("fonts/e0c025ab-05ca-4e73-9925-a5495929ad82.svg#e0c025ab-05ca-4e73-9925-a5495929ad82") format("svg");
}
@font-face{
	//font-family:"Gilroy W00 Medium";
	font-family:"Gilroy";
	font-style: normal;
	font-weight: 500;
	src:url("fonts/e614cc7a-7369-438b-ae6b-e81a483780da.eot?#iefix");
	src:url("fonts/e614cc7a-7369-438b-ae6b-e81a483780da.eot?#iefix") format("eot"),url("fonts/ab57e807-506b-4e1d-aed1-cb2b62dd7258.woff2") format("woff2"),url("fonts/4ac1d6d8-0dca-4d0c-9b27-89cbaaf6a542.woff") format("woff"),url("fonts/c353d337-cd72-47c5-8939-c28d728dbc84.ttf") format("truetype"),url("fonts/91cfd09a-4f27-4a3f-b418-395d55464a0c.svg#91cfd09a-4f27-4a3f-b418-395d55464a0c") format("svg");
}

@font-face{
	//font-family:"Gilroy W00 SemiBold";
	font-family:"Gilroy";
	font-style: normal;
	font-weight: 600;
	src:url("fonts/d2c69706-9309-415c-ba46-9369da3a3d0a.eot?#iefix");
	src:url("fonts/d2c69706-9309-415c-ba46-9369da3a3d0a.eot?#iefix") format("eot"),url("fonts/dace493d-2c1a-478b-a98e-0e73f323a856.woff2") format("woff2"),url("fonts/a7e2bbd1-4a46-45fa-9e36-1a26e482c098.woff") format("woff"),url("fonts/49a87d40-722b-4a8d-aa96-5159f4051bfe.ttf") format("truetype"),url("fonts/d248e829-5afe-46cd-955f-26411a18ceab.svg#d248e829-5afe-46cd-955f-26411a18ceab") format("svg");
}
@font-face{
	//font-family:"Gilroy W00 Bold";
	font-family:"Gilroy";
	font-style: normal;
	font-weight: 700;
	src:url("fonts/5420c205-8697-4669-8deb-3df9b89a643b.eot?#iefix");
	src:url("fonts/5420c205-8697-4669-8deb-3df9b89a643b.eot?#iefix") format("eot"),url("fonts/9b941ec6-0652-468c-80c6-e7a624c32a75.woff2") format("woff2"),url("fonts/f475817d-5210-4456-ae08-6d82c026a2f3.woff") format("woff"),url("fonts/4a28a5dc-a361-4a3c-8414-2ab42ae72872.ttf") format("truetype"),url("fonts/5151bed8-f99a-46b0-b6a5-1ba070a0fe54.svg#5151bed8-f99a-46b0-b6a5-1ba070a0fe54") format("svg");
}