

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/


body {
	margin:0; //ios 12 et 13
	overflow-x:hidden;
}
:root {
	--margin-y-1: 3rem;
	--margin-y-2: 6rem;
	--padding-x:20px;
	--padding-x-header:20px;
	--padding-x-article:var(--padding-x);
	--padding-x-pleine-largeur:0;
	--largeur-max:1920px;

	//--header-height:80px;
	//--max-width-xl:1900px;

	/*Valeurs en dur pour les navigateurs qui ne supportent pas clamp*/
	--hauteur-banniere :400px; 
	
	@supports(height:clamp(560px,78vw,1083px)) {
		--hauteur-banniere :clamp(220px,28vw,550px);
	}


	@include bp(lg) {
		--padding-x : 5vw;
		--padding-x-header:2.5vw;

		--demi-largeur-utile:calc(50vw - var(--padding-x));
		--padding-x-article: calc(var(--padding-x) + 0.25 * var(--demi-largeur-utile)); //contenu 7 colonnes sur 12 : ajouter 25% de padding de chaque côté
	}
	
	@include bp(xl) {
		
	}

	@include bp(xxl) {
		--padding-x-pleine-largeur : calc(50vw - var(--largeur-max)/2);
		--padding-x: calc(var(--padding-x-pleine-largeur) + 96px);
		--padding-x-header:calc(var(--padding-x-pleine-largeur) + 54px);		
		--padding-x-article:calc(50vw - 755px / 2);


	}
}

//Réglages de largeur communs à tous les templates
.site-container {
	@include largeur-max;
}
.site-main {
	.fil-ariane, .entry-title {
		padding-left: var(--padding-x);
		padding-right: var(--padding-x);
	}
}


body .entry-content {
	background-color: var(--blanc);
	margin:0 auto;
	max-width: calc(100% - 2* var(--padding-x));
	padding: 0;
	position:relative;
}


.alignfull , .bleed-container {
	@include bleed;
}

.container {
	padding:0 var(--padding-x);
}

/* Hauteur mini main*/

.site {
	overflow-x: hidden;
	position: relative;
}
.site-main {
	min-height:50vh;
}


.show-for-md,
.show-for-lg {
	display: none;
}

@include bp(md) {


	.show-for-md {
		display: initial;
	}

	.hide-for-md {
		display: none;
	}
}

@include bp(lg) {


	.show-for-lg {
		display: initial;
	}

	.hide-for-lg {
		display: none;
	}
}



/* Echelle z-index 
Elements qui ont juste besoin d'être au-dessus de leur voisin : 1
Overlay : 5
Sticky header : 10
Menu mobile : 10
Sous-menu desktop : 10;

*/