.liste-consultants {
  --taille-img:7.5rem;
  --taille-picto:2.1rem;
  padding: 3rem 0;
}
.liste-consultants .consultant {
  align-items: center;
  border: solid 1px var(--bleu-bordure);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 7rem;
  margin-top: 4rem;
  padding: 0 1.2rem 2.5rem;
}
.liste-consultants .portrait {
  margin-top: calc(-0.5 * var(--taille-img));
  position: relative;
}
.liste-consultants .portrait .image {
  background-color: var(--bleu-bordure);
  border: solid 1px var(--bleu-bordure);
  border-radius: 100px;
  height: var(--taille-img);
  margin-bottom: 1rem;
  overflow: hidden;
  width: var(--taille-img);
}
.liste-consultants .portrait img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}
.liste-consultants .portrait .picto {
  position: absolute;
  right: -0.5rem;
  top: 1rem;
  width: var(--taille-picto);
}
.liste-consultants .portrait svg {
  max-width: 100%;
}
.liste-consultants .nom {
  color: var(--rose-e4);
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2.6rem;
  margin-bottom: 0;
}
.liste-consultants .titre {
  color: var(--bleu-texte);
  margin-bottom: 1rem;
}
.liste-consultants .texte {
  font-style: italic;
}
@media (min-width: 1024px) {
  .liste-consultants {
    --gap:5rem;
    margin-top: 5rem;
    padding-bottom: 6rem;
    padding-top: 0;
    --taille-img:16.6rem;
    --taille-picto:3.5rem;
  }
  .liste-consultants .consultants {
    border-top: solid 1px var(--bleu-bordure);
    justify-content: center;
    margin: 0 auto;
    max-width: 93rem;
    padding-top: 3.3rem;
  }
  .liste-consultants .consultant {
    border: none;
    column-gap: var(--gap);
    display: grid;
    grid-template-columns: 16.6rem 1fr;
    grid-template-rows: 3.2rem 3rem 3rem 1fr;
    margin-bottom: 4rem;
    margin-top: 0;
    padding: 0;
    position: relative;
  }
  .liste-consultants .portrait {
    align-self: self-start;
    margin: 0;
    grid-column: 1;
    grid-row: 4;
  }
  .liste-consultants .nom {
    font-size: 3.2rem;
    grid-column: 1/span 2;
    grid-row: 1;
    line-height: 3.2rem;
  }
  .liste-consultants .titre {
    align-self: self-end;
    font-size: 2.6rem;
    grid-column: 1/span 2;
    grid-row: 2;
    line-height: 3rem;
    margin-bottom: 0;
  }
  .liste-consultants .texte {
    grid-column: 2;
    grid-row: 4;
  }
}