/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/


.site-footer {
	.main-footer {
		background-color: var(--bleu-9a);
		color: var(--blanc);
		padding: 4rem 3rem 6rem;
		position: relative;
	}

	.logo-footer {
		display: inline-block;
		margin-bottom: 4rem;
		max-width:14.6rem;
		img {
			max-width: 100%;
		}
	}


	.coord {
		font-size: 1.8rem;
		line-height: 2.5rem;
		a {
			color: var(--rose-ff);
			text-decoration: none;

			&:hover,
			&:focus {
				text-decoration: underline;
			}

		}
	} 

	//Centrer la seule colonne visible
	.colonnes-footer {
		display: flex;
		justify-content: center;
	}

	.col-2, .col-3, .col-4 {
		display: none;
	}


	@include bp(lg) {
		.main-footer {
			padding-top:9rem;
			padding-bottom: 10rem;
			--gap:2rem;
		}
		

		.colonnes-footer {
			display: grid;
			grid-template-columns: repeat(4,auto);
		}

		.col-1 {
			padding-right: 1rem;
		}
		.col-2, .col-3, .col-4 {
			border-left:1px solid var(--gris-fa);
			display: block;
			padding:3.5rem var(--gap) 1rem ;
		}
		.col-4 {
			padding-right: 0;
		}

		.titre-widget {
			font-weight: 700;
			margin-bottom: 5rem;
		}
		
		.nav-footer, .liste-posts {
			li {
				margin-bottom: 1rem;
			}
			a {
				color: var(--blanc);
				display: inline-block;
				text-decoration: none;

				&:hover,
				&:focus {
					color:var(--rose-ff);
				}
			}
			

		}

		.liste-posts a {
			line-height: 1;
		}

	}
	@media screen and (min-width:1080px) {
		//magic number pour que les titres des colonnes et l'adresse soient sur une seule ligne avec 4 colonnes de même largeur
		.colonnes-footer {
			grid-template-columns: repeat(4,1fr);
		}
	}
	@include bp(xl) {
		--gap:3.5rem;
		.main-footer {
			padding-left:var(--padding-x);
			padding-right: var(--padding-x);
		}
		.logo-footer {
			margin-bottom: 5rem;
			max-width:16.6rem;
		}
		.coord {
			font-size: 2rem;
			line-height: 2.5rem;
			p {
				margin-bottom: 2.5rem;
			}
		}
		.titre-widget, .nav-footer, .liste-posts {
			font-size: 2.2rem;
			line-height: 4rem;
		}
		.titre-widget {
			margin-bottom: 4.6rem;
		}

		.nav-footer li {
			margin-bottom: 0;
		}

		.liste-posts li {
			margin-bottom: 2rem;
		}
		
	}




	.bottom-footer {
		padding:1.6rem var(--padding-x);
		text-align: center;

		span,
		a {
			color: var(--noir);
			display: inline-block;
			margin-bottom: 0.5rem;
		}

		a {
			text-decoration: none;
			&:hover, &:focus {
				color:var(--violet-lien);
			}
		}
		
		@include bp(lg){
			
			padding:1.3rem var(--padding-x) 1.5rem;

			.inline-footer .menu {
				align-items:center;
				display: flex;
				justify-content: center;

				li {
					&::before {
					content:'-';
					display: inline-block;
					padding:0 0.5ch;
					}
					&:first-of-type::before {
						display: none;
					}
				}
			}

		}

		@include bp(xl){
			align-items:center;
			display: flex;
			justify-content: center;

			.inline-footer .menu li:first-of-type::before {
				display: inline-block;
			}
		}
		
	}
/*
	.backtotop {
		--taille:40px;
		align-items: center;
		background-color: var(--vert);
		border:none;
		border-radius: 50%;
		display: flex;
		height:var(--taille);
		padding:8px;
		width:var(--taille);
		top : var(--taille);
		position: absolute;
		right:10px;
		top : calc(-10px - var(--taille));
		transition: all var(--transition);
		z-index:1;

		svg {
			position: relative;
			top:-2px;
			transform-origin: center;
			transform: rotateZ(180deg);
			path {
				fill : var(--blanc);
			}
		}

		&:hover, &:focus {
			background-color:var(--orange);
			border:none;
			//transform : translateY(-0.5rem);
			svg {
				path {
					fill : var(--blanc);
				}
			}
		}
	}*/

}