/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/


.site-footer {
	.main-footer {
		background-color: var(--bleu-9a);
		color: var(--blanc);
		padding: 4rem 3rem 6rem;
		position: relative;

		.logo-footer {
			display: inline-block;
			margin-bottom: 4rem;
			max-width:14.6rem;
			img {
				max-width: 100%;
			}
		}


		.coord {
			font-size: 1.8rem;
			line-height: 2.5rem;
			a {
				color: var(--rose-ff);
				text-decoration: none;

				&:hover,
				&:focus {
					text-decoration: underline;
				}

			}
		} 

		

		.col-2, .col-3, .col-4 {
			display: none;
		}

	}
	
	

	@include bp(lg) {
		.colonnes-footer {
			display: grid;
			grid-template-columns: repeat(4,1fr);
			column-gap: 2rem;
		}
		.col {
			margin-bottom: 2rem;
		}

		.nav-footer a {
			color: var(--rose-ff);
			text-decoration: none;

			&:hover,
			&:focus {
				text-decoration: underline;
			}

		}
	}




	.bottom-footer {
		padding:1.6rem var(--padding-x);
		text-align: center;

		span,
		a {
			color: var(--noir);
			display: inline-block;
			margin-bottom: 0.5rem;
		}

		a {
			text-decoration: none;
			&:hover, &:focus {
				color:var(--violet-lien);
				text-decoration: underline;
			}
		}
		

		
	}
/*
	.backtotop {
		--taille:40px;
		align-items: center;
		background-color: var(--vert);
		border:none;
		border-radius: 50%;
		display: flex;
		height:var(--taille);
		padding:8px;
		width:var(--taille);
		top : var(--taille);
		position: absolute;
		right:10px;
		top : calc(-10px - var(--taille));
		transition: all var(--transition);
		z-index:1;

		svg {
			position: relative;
			top:-2px;
			transform-origin: center;
			transform: rotateZ(180deg);
			path {
				fill : var(--blanc);
			}
		}

		&:hover, &:focus {
			background-color:var(--orange);
			border:none;
			//transform : translateY(-0.5rem);
			svg {
				path {
					fill : var(--blanc);
				}
			}
		}
	}*/

}