
.single .entry-content {
	padding-top: 2.5rem;
}
.single-title {
	text-align: center;
}
.single-image {
	display: flex;
	justify-content: center;
	margin-bottom: 2.5rem;

	&.large {
		aspect-ratio: 2;
		width:100%;
		img {
			height:100%;
			object-position: top center;
			width: 100%;
		}
	}
}

.single-reference {
	.etudes-related {
		margin-top: 5rem;
	}
}
.single-post {
	.entry-content {
		margin:0 auto;
		max-width:93rem;
	}
	.page-banniere {
		grid-template-rows: 6rem auto 4rem; 
		height:auto;
		.fond-banniere {
			height:100%;
		}
		@include bp(lg) {
			grid-template-rows: 12rem auto 8rem; 
		}
	}
	.meta-single {
		border-left: solid 1px var(--bleu-9a);
		color:var(--bleu-9a);
		margin-bottom: 2rem;
		padding:1rem 1.5rem;
		p {
			margin-bottom: 6px;
		}
		a {
			color:var(--bleu-9a);
			text-decoration: none;
			&:focus, &:hover {
				color:var(--violet-d2);
			}
		}
		@include bp(lg) {
			margin-bottom: 4rem;
			padding:1rem;
		}
	}

	.single-extrait {
		font-weight: 700;
		margin-bottom: 3rem;
		@include bp(lg) {
			font-weight: 600;
			margin-bottom: 4rem;
		}
	}

	.single-image {
		display: flex;
		justify-content: center;
		margin-bottom: 4.4rem;
	}
	
}
@include bp(lg) {
	.single .entry-content {
		padding-top: 7.5rem;
	}

	.single-image {
		margin-bottom: 6.1rem;
	}

	
	.single-reference {
		.entry-content > *:not(section) {
			margin-left: auto;
			margin-right: auto;
			max-width: 80rem;
		}
		.entry-content > .single-extrait {
			max-width: 117rem;
		}
		.entry-content > .single-image.large {
			aspect-ratio: 2.77;
			
			max-width: 95.2rem;
		}
		.etudes-related {
			margin-top: 11rem;
		}
	}
}


