
.single .entry-content {
	padding-top: 2.5rem;
}
.single-title {
	text-align: center;
}
.single-image {
	display: flex;
	justify-content: center;
	margin-bottom: 2.5rem;
}

.single-reference {
	.etudes-related {
		margin-top: 5rem;
	}
}
.single-post {

	
}
@include bp(lg) {
	.single .entry-content {
		padding-top: 7.5rem;
	}

	.single-image {
		margin-bottom: 6.1rem;
	}

	
.single-reference {
	.etudes-related {
		margin-top: 11rem;
	}
}
}


