.logos-grille {
  --nb-col:2;
  --taille-col:1fr;
  --gap:1rem;
  margin-bottom: 4.3rem;
  position: relative;
}
.logos-grille .logos {
  -moz-column-gap: var(--gap);
       column-gap: var(--gap);
  display: grid;
  grid-template-columns: repeat(var(--nb-col), var(--taille-col));
  justify-content: center;
}
.logos-grille .ligne {
  background-color: var(--bleu-bordure);
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  width: 1px;
}
.logos-grille .ligne-2, .logos-grille .ligne-3 {
  display: none;
}
@media (min-width: 500px) {
  .logos-grille {
    --taille-col:20rem;
    --gap:2rem;
  }
}
@media (min-width: 768px) {
  .logos-grille {
    --nb-col:3;
    --taille-col:1fr;
    --gap:4rem;
  }
  .logos-grille .ligne-1 {
    left: 33%;
  }
  .logos-grille .ligne-2 {
    display: block;
    left: 66%;
  }
}
@media (min-width: 1024px) {
  .logos-grille {
    --nb-col:4;
  }
  .logos-grille .ligne-1 {
    left: 25%;
  }
  .logos-grille .ligne-2 {
    left: 50%;
  }
  .logos-grille .ligne-3 {
    display: block;
    left: 75%;
  }
  .logos-grille .logo img {
    transform: scale(0.8);
  }
}
@media (min-width: 1440px) {
  .logos-grille {
    --gap:8rem;
  }
}